In [ ]:
dados = {'A': [1, 2, 3, 4, 5],
         'B': ['a', 'b', 'c', 'd', 'e']


}

In [ ]:
pip install pandas

In [2]:
import pandas as pd

dados = {'A': [1, 2, 3, 4, 5],
         'B': ['a', 'b', 'c', 'd', 'e']
}

df = pd.DataFrame(dados)
df

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e