In [ ]:
import pandas as pd

In [ ]:
df_track = pd.read_csv(r"D:\\1ESPX-PY\\phyton\\Sem2\\Track_202408231946.csv")

In [ ]:
df_track

In [9]:
df_track.groupby("Name")["Milliseconds"].sum()

Name
"40"                                                           157962
"?"                                                           2782333
"Eine Kleine Nachtmusik" Serenade In G, K. 525: I. Allegro     348971
#1 Zero                                                        299102
#9 Dream                                                       278312
                                                               ...
É que Nessa Encarnação Eu Nasci Manga                          196519
Étude 1, In C Major - Preludio (Presto) - Liszt                 51780
Óculos                                                         219271
Óia Eu Aqui De Novo                                            219454
Último Pau-De-Arara                                            200437
Name: Milliseconds, Length: 3257, dtype: int64

In [10]:
import numpy as np

In [11]:
vetor = np.array([10, 20, 30, 40, 50])

In [12]:
matriz_2d = np.array([[10, 20 ], [4, 5] ])
matriz_2d

array([[10, 20],
       [ 4,  5]])

In [ ]:
s1 = pd.Series([10, 20, 30, 40, 50], name = "Serie 1")
s2 = pd.Series([1, 2, 3, 4, 5], name = "Serie 2")

soma = s1 + s2
sub = s1 - s2
mult = s1 * s2
div = s1 / s2

In [15]:
s1 = pd.Series([10, 20, 30, 40, 50], name = "Serie 1")
s2 = pd.Series([1, 2, 3, 4, 5], name = "Serie 2")
s3 = pd.Series(['A', 'B', 'C', 'B', 'A'], name = "Serie 3")

df = pd.DataFrame({'Serie 1': s1, "Serie 2": s2, 'Serie 3': s3  })

df['soma'] = df['Serie 1'] + df['Serie 2']
df['sub'] = df['Serie 1'] - df['Serie 2']
df['mult'] = df['Serie 1'] * df['Serie 2']
df['div'] = df['Serie 1'] / df['Serie 2']

df

   Serie 1  Serie 2 Serie 3  soma  sub  mult   div
0       10        1       A    11    9    10  10.0
1       20        2       B    22   18    40  10.0
2       30        3       C    33   27    90  10.0
3       40        4       B    44   36   160  10.0
4       50        5       A    55   45   250  10.0

In [ ]:
df.groupby('Serie 3')['soma'].max